*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.header{
    border: 1px solid rgb(140, 9, 216);
}
.main{
    border: 1px solid rgb(185, 14, 236);
}
.footer{
    border: 1px solid rgb(192, 8, 177);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
}
